<h4>I've created a number of music projects throughout the years. I draw inspiration from
a lot of different genres and that's evidenced in the music you can find below.</h4>

<h1 ng-click="view.showAdultColour()">Adult Colour</h1>
<h4 ng-show="view.adultColour">Formed in 2015, Adult Colour is my venture into alternative rock. Influenced by bands like NEU, Wire, Galaxie 500. I sing, write, and play on the guitar.</h4>
<h1 ng-click="view.showRidgelings()">Ridgelings</h1>
<h4 ng-show="view.ridgelings">After I moved to Boulder, I met some friends who were into folk music. We played quite a few shows and released a full-length album that you can purchase here: </h4>
<img id="ridgelingsPic" ng-show="view.ridgelings" ng-src="https://f4.bcbits.com/img/0003258167_10.jpg" alt="Ridgelings Image">
<h1 ng-click="view.showSolo()">Solo Works</h1>
<h4 ng-show="view.solo">I've been putting out solo work for over 7 years now. It's mostly folk, singer-songwriter style. You can check out my bandcamp here: </h4>
