<img id="timPic" ng-src="../timguitar3.jpg" alt="tim">

<div class= "boxcontainer">
  <div class="landingdivs"><a href="/#/discography">Discography</a> <h5>I've been in a variety of bands</h5></div>
  <div class="landingdivs"><a href="/#/videos">Videos</a> <h5>I make videos as an accompaniment for music</h5></div>
  <div class="landingdivs"><a href="/#/writing">Writing</a> <h5>Poems, prayers, promises</h5></div>
  <div class="landingdivs"><a href="/#/about">About</a> <h5>From the Boston area.</h5></div>
</div>
