@media screen and(max-width: 775px){
  .navigation{
    display: none;
  }
}
@media screen and(max-width: 775px){
  #tim .addpads{
    text-align: center;
    width: 100vw;
  }
}
@media screen and(max-width: 775px){
  .boxcontainer{
    display: block;
  }
}
@media screen and(max-width: 775px){
  .landingdivs{
    width: 100vw;
    text-align: center;
    border-bottom: 1.5px solid gray;
    font-size: 1.32em;
  }
}
