a {
  font-size: 1.5em;
  &:hover {
    color: red;
  }
}
.navigation {
  background: lightgray;
}
.logout{
  height: 6vh;
}

body {
  background: darkgray;
}

img{
  width: 100vw;
}

.boxcontainer {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: white;
  font: 1.5em Helvetica;
}
