a {
  font-size: 1.5em;
  &:hover {
    color: red;
  }
}
.navigation {
  float: right;
  width: 72vw;
  padding: 20px;
  font-size: 1.4em;
  text-align: right;
}
.logout{
  height: 6vh;
  background: white;
  color: black;
}
#border {
  border-top: 3px groove gray;
  clear: both;

}
body {
  background: #0A0A0A;
  color: white;
}

img{
  width: 100vw;
}

.boxcontainer {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: white;
  font: 1.5em Helvetica;
}

#ridgelingsPic {
  height: 50vh;
  width: 70vh;
}

#tim{
  float: left;
  // font-family: 'Cardo';

  margin-top: 0;
  padding-top: 0;
}
#timPic{
  height: 70vh;
}
.addpads {
  font-family: 'Cormorant Garamond';
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

#blogpreview {
  width: 55vw;
  float: right;
}
#blogdiv {
  width: 40vw;
  float: left;
}
#centerVids {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subheader{
  text-align: center;
}

.blogbutton {
  background: white;
  color: black;
  margin-left: 15px;
}
